.wrapper {
  position: relative;
  display: inline-block;

  svg {
    vertical-align: bottom;
  }
}
.index {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 23px;
  height: 23px;
  background: #ffffff;
  font-weight: 900;
  font-size: 13px;
  line-height: 1;
  color: #ac2020;
  border-radius: 50%;
}

.text {
  position: absolute;
  font-weight: bold;
  font-size: 11px;
  color: #ffffff;
}

.dates {
  position: absolute;
  font-size: 11px;
  color: #ffffff;
}

.indexToRight {
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
}

.textToRight {
  left: 30px;
  top: 15px;
  max-width: 100px;
}

.datesToRight {
  left: 20px;
  bottom: 15px;
}

.indexToThreeOClock {
  bottom: 10px;
  right: 33px;
}

.textToThreeOClock {
  left: 60px;
  top: 60px;
  max-width: 100px;
}

.datesToThreeOClock {
  right: 15px;
  bottom: 50px;
  max-width: 65px;
}

.indexToSixOClock {
  bottom: 33px;
  left: 10px;
}

.textToSixOClock {
  right: 60px;
  top: 70px;
  max-width: 100px;
}

.datesToSixOClock {
  left: 45px;
  bottom: 33px;
  max-width: 65px;
}
